{% extends 'partials/base_login.html' %}
{% load crispy_forms_tags %}
{% block title %}Login Page{% endblock %}
{% block content%}
    <div class = "container">
            {% csrf_token %}
            {{ form|crispy}}
            <input class ="btn-login" type ="submit" value ="Login">
        <div class="container" style="background-color:#f1f1f1">
            <a href="{% url 'user-register' %}">
            <button type="button" class="registerbtn">Register</button>
            </a>
        </div>

    </div>

{% endblock %}
  