{% extends 'partials/base.html' %}

{% block title %}Index Page{% endblock %}

{% block content %} 


<!--Contents of the dashboard page-->
<div class="content-wrapper">
<section class="content-header">
  <h1>
    Dashboard
    <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="{% url 'dashboard-index' %}"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>{{total_products}}</h3>
          <p>Total Products</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a href="{% url 'dashboard-product-manage' %}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="small-box bg-green">
        <div class="inner">
          <h3>{{total_orders}}</h3>
          <p>Total Orders</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="{% url 'dashboard-order-manage' %}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>


    <!-- Remove User Navigation If not admin or staff-->
    {% if user.is_staff or user.is_superuser %}
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>{{total_users}}</h3>
          <p>Total Users</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-stalker"></i>
        </div>
        <a href="{% url 'dashboard-user-manage' %}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    {% endif %}
</section>    
<!--end of dashboard contents-->  

    {% endblock %}