{% extends 'partials/base.html' %}

{% load crispy_forms_tags %}
{% block title %}Add Order Page{% endblock %}

{% block content %} 

<div class = "main">
          
    <h2>Add Orders</h2>
    <div class="form-container">
              {% for message in messages%}
            <div class ="alert alert-{{message.tags}}">
                {{message}}
            </div>
            {% endfor %}
            
        <form method = "POST">
            {{form|crispy}}
            {% csrf_token %}
            <div class="form-group">
                <button type="submit">Add Order</button>
            </div> 
        </form>
    </div>
</div>


{% endblock %}